{%extends 'base.html'%}
{% block content %}
<head>
	<title>Моя страница избранных</title>
</head>
<body>
	<div class = "favorite">
	<h1>Мои избранные</h1>
	</div>
	<ul>
		{%for post in posts%}
		<div class="list-content">
			<div class = "video">
			<a href=""><img src="images/thumbnail4.png" alt="" class="thumbnail"></a>                             
			<div class="flex-div">
				<video width="220" height="140" controls class="video__item">
					<source src="../uploads/{{ post.filename }}" type="video/mp4">
				</video>
				<div class="video-info">
					<h3><a href='http://127.0.0.1:5000/{{post.id}}'>{{post.title}}</a></h3>
					<!-- <p>{{ post.description }}</p> -->
					<p><a href="http://127.0.0.1:5000/profile/{{post.author_id}}">{{ post.author.username }}</a></p>
					</div>
	</div>
	</ul>
	</div>
	{%endfor%}
</body>
{%endblock%}
